@page
@using Indkøbsapp.Interfaces
@using Indkøbsapp.Catalog
@model Indkøbsapp.Pages.ButikItemsModel
@inject IButiksVareKatalog ButiksVareKatalog
@{
    ViewData["Title"] = "ButikItems";
}

<h1>ButikItems</h1>

<div>
    <form method="post" asp-page-handler="filter">
        <p>
            Search:
            <input type="text" asp-for="@Model.Criteria" />
            <input type="submit" value="Filter" />
        </p>
    </form>
</div>


    <h1>Liste af butik items</h1>


    <p>
        <a asp-page="CreateButikItem">Create New</a>
    </p>


<p>Antal elementer i ButiksKatalog: @Model.repo.GetAllButikVarer().Count</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>Description</th>
            <th>Price</th>
            <th>Billede</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.repo.GetAllButikVarer().Values)
        {
            <tr>
                <td> @item.ID</td>
                <td> @item.Navn</td>
                <td> @item.Description</td>
                <td> @item.Price</td>
                <td> <img src="~/Images/@item.Billede" width="60" height="70" alt="    "></td>
                <td><a asp-page="EditItem" asp-route-id="@item.ID">Edit</a></td>
                <td>
                    <form method="post" asp-page-handler="add">
                        <button class="btn btn-primary">Add</button>
                        <input type="hidden" name="id" value="@item.ID" />
                    </form>
                </td>
            </tr>

        }
    </tbody>
</table>


    <h2>Alle Items i repository</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>Description</th>
            <th>Price</th>
            <th>Billede</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.repo.GetAllButikVarer().Values)
        {
            <tr>
                <td> @item.ID</td>
                <td> @item.Navn</td>
                <td> @item.Description</td>
                <td> @item.Price</td>
                <td> <img src="~/Images/@item.Billede" width="60" height="70" alt="    "></td>
                <td><a asp-page="EditItem" asp-route-id="@item.ID">Edit</a></td>
            </tr>

        }
    </tbody>
</table>