@page
@using Indkøbsapp.Helpers
@using Indkøbsapp.Models
@model Indkøbsapp.Pages.Ordrers.IndexModel
@{
}
<h1>@SharedMemory.LoggedInUser.UserName</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Antal
            </th>
            <th>
                Varenavn
            </th>
            <th>
                Beskrivelse
            </th>
            <th>
                Pris
            </th>
            <th>
                Billede
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (OrderItem item in SharedMemory.ActiveOrdrer.Order)
            {
                <td>
                    @item.Amount
                </td>
                <td>
                    @item.Navn
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    <img src="~/Img/@item.Billede" width="60" height="70">
                </td>
                <td>
                    <form method="post" asp-page-handler="add">
                        <button class="btn btn-primary">Lig til</button>
                        <input type="hidden" name="id" value="@item.ID">
                    </form>
                </td>
                <td>
                    <form method="post" asp-page-handler="delete">
                        <button class="btn btn-primary">Fjern</button>
                        <input type="hidden" name="id" value="@item.ID">
                    </form>
                </td>
            }
        </tr>
    </tbody>
</table>
