@page
@using Indkøbsapp.Helpers
@using Indkøbsapp.Models
@model Indkøbsapp.Pages.Ordrers.IndexModel
@{
                                          //Side til at se sin kurv
}
<h1>@SharedMemory.LoggedInUser.UserName</h1>
<table class="table">
    <thead>
    <tr>
        <th>
            Antal
        </th>
        <th>
            Varenavn
        </th>
        <th>
            Beskrivelse
        </th>
        <th>
            Pris
        </th>
        <th>
            Billede
        </th>
    </tr>
    </thead>
    <tbody>

    @foreach (OrderItem item in SharedMemory.ActiveOrdrer.Order)
    {
        <tr>
            <td>
                @item.Amount
            </td>
            <td>
                @item.Item.Navn
            </td>
            <td>
                @item.Item.Description
            </td>
            <td>
                @item.Item.Price
            </td>
            <td>
                <img src="~/images/@item.Item.Billede" width="60" height="70">
            </td>
            <td>
                <form method="post" asp-page-handler="add">
                    <button class="btn btn-primary">Lig til</button>
                    <input type="hidden" name="id" value="@item.Item.ID">
                </form>
            </td>
            <td>
                <form method="post" asp-page-handler="delete">
                    <button class="btn btn-primary">Fjern</button>
                    <input type="hidden" name="id" value="@item.Item.ID">
                </form>
            </td>
        </tr>
    }

    </tbody>
</table>
<h4>Pris:</h4>
<div class="mr-auto">@SharedMemory.ActiveOrdrer.Price kr</div>

<div class="text-center">
    <a asp-page="/Ordrers/CheckOut" asp-route-username="@SharedMemory.LoggedInUser.UserName" class="btn btn-primary">Check Out</a>
</div>

