@page
@model Indkøbsapp.Pages.Butikker.ButikIndexModel
@{
}

<h1>Butikker</h1>
<h1>Alle butikkerne </h1>
<p>
    <a asp-page="CreateButik">Tilføj butik</a>
</p>
<div>
    <ul>
        <li> There are @Model.repo.GetAllButikker().Count butikker</li>
    </ul>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Butiksnavn
            </th>
            <th>
                Lokation
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.repo.GetAllButikker())
        {
        <tr>
            <td>
                @item.ButiksNavn
            </td>
            <td>
                @item.Lokation
            </td>
            <td>
                 <a asp-page="/Items/ButikItems" asp-route-butikNavn="@item.ButiksNavn">Butikkens Varer</a> |               
                 <form method="post">
                    <button>
                        <a>Slet denne butik</a>
                    </button>
                <input type="hidden" name="butiksNavn" value="@item.ButiksNavn" />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

